.body {
    background-color: white;
    overflow: hidden;
}

.sub_table {
    border: 2px black solid;
    margin-left: 50px;
    text-align: left;
    width: 94%;
}

.First_Head {
    width: 100px;
    height: 5px;
    padding-left: 30px;
    background-color: pink;
}

.First_Data {
    height: 30px;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    font-size: 20px;
    padding: 8px;
    background-color: orange;
}

.First_Head_div {
    background-color: orange;
    font-size: 22px;
    padding: 15px;
    border: 2px black solid;
}

.Second_Data {
    padding: 10px;
}

a:visited {
    color: blue;
}

a:link {
    color: blue;
}

a:hover {
    color: blue;
}