* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box; /* Fix the widht and height and the padding has no effect */
}
