* {
  margin: 0;
  padding: 0;
}

.test {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.test2 {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;

  margin-left: 10px;
  margin-bottom: 10px;
}
