#Container {
  border: 2px solid red;
  border-radius: 1%; /* 5% of the width/height */
  outline: 6px solid blue;
  outline-offset: 2px;
}

#para {
  font-size: 18px;
  color: green;
}

.para2 {
  font-size: 18px;
  color: plum;
}
